<!doctype html>

<!-- 많이 사용 -->

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
	<p>카드</p>
	<div class="card" style="width: 18rem;">
		<img src="./images/face.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<br>
	<br>

	<p>카드 body</p>
	<div class="card">
		<div class="card-body">This is some text within a card body.</div>
	</div>

	<br>
	<br>

	<p>제목, 텍스트, 링크</p>
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
			<a href="#" class="card-link">Card link</a> <a href="#"
				class="card-link">Another link</a>
		</div>
	</div>

	<br>
	<br>

	<p>.card-img-top카드 상단에 이미지를 배치합니다, .card-text카드에 텍스트를 추가</p>
	<div class="card" style="width: 18rem;">
		<img src="./images/face.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>

	<br>
	<br>

	<p>그룹 나열 .list-group</p>
	<div class="card" style="width: 18rem;">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">An item</li>
			<li class="list-group-item">A second item</li>
			<li class="list-group-item">A third item</li>
		</ul>
	</div>

	<br>
	<br>

	<p>그룹 나열 .list-group</p>	
	<div class="card" style="width: 18rem;">
		<div class="card-header">Featured</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">An item</li>
			<li class="list-group-item">A second item</li>
			<li class="list-group-item">A third item</li>
		</ul>
	</div>

	<br>
	<br>

	<p>그룹 나열 .list-group</p>	
	<div class="card" style="width: 18rem;">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">An item</li>
			<li class="list-group-item">A second item</li>
			<li class="list-group-item">A third item</li>
		</ul>
		<div class="card-footer">Card footer</div>
	</div>

	<br>
	<br>

	<p>이미지 스타일, 블록, 텍스트 스타일 및 목록 그룹이 모두 고정 너비 카드로 포장</p>	
	<div class="card" style="width: 18rem;">
		<img src="./images/face.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">An item</li>
			<li class="list-group-item">A second item</li>
			<li class="list-group-item">A third item</li>
		</ul>
		<div class="card-body">
			<a href="#" class="card-link">Card link</a> <a href="#"
				class="card-link">Another link</a>
		</div>
	</div>

	<br>
	<br>

	<p>카드 내에 선택적 머리글 및 바닥글을 추가</p>	
	<div class="card">
		<div class="card-header">Featured</div>
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural
				lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<br>
	<br>

	<p>카드 헤더 요소를 추가하여 스타일을 지정할 수 .card-header</p>	
	<div class="card">
		<h5 class="card-header">Featured</h5>
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural
				lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<br>
	<br>

	<p>카드 헤더 요소를 추가하여 스타일을 지정할 수 .card-header</p>	
	<div class="card">
		<div class="card-header">Quote</div>
		<div class="card-body">
			<blockquote class="blockquote mb-0">
				<p>A well-known quote, contained in a blockquote element.</p>
				<footer class="blockquote-footer">
					Someone famous in <cite title="Source Title">Source Title</cite>
				</footer>
			</blockquote>
		</div>
	</div>

	<br>
	<br>

	<p>특별한 타이틀 처리 .card-header</p>	
	<div class="card text-center">
		<div class="card-header">Featured</div>
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural
				lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
		<div class="card-footer text-body-secondary">2 days ago</div>
	</div>

	<br>
	<br>

	<p>그리드를 사용하여 필요에 따라 카드를 열과 행으로 묶습니다</p>
	<div class="row">
		<div class="col-sm-6 mb-3 mb-sm-0">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural
						lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural
						lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>

	<p>사용 가능한 몇 가지 크기 조정 유틸리티를 사용하여 카드 너비를 빠르게 설정하세요</p>
	<div class="card w-75 mb-3">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">With supporting text below as a natural
				lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Button</a>
		</div>
	</div>

	<div class="card w-50">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">With supporting text below as a natural
				lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Button</a>
		</div>
	</div>

	<br>
	<br>

	<p>스타일시트에서 맞춤 CSS를 사용하거나 인라인 스타일로 너비를 설정하세요</p>
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural
				lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<br>
	<br>

	<p>텍스트 정렬 클래스를 사용하면 카드 전체 또는 특정 부분의 텍스트 정렬을 빠르게 변경할 수 있습니다</p>
	<div class="card mb-3" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural
				lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<div class="card text-center mb-3" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural
				lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<div class="card text-end" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural
				lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<br>
	<br>

	<p>Bootstrap의 탐색 구성 요소를 사용하여 카드의 헤더(또는 블록)에 일부 탐색을 추가합니다</p>
	<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				<li class="nav-item"><a class="nav-link active"
					aria-current="true" href="#">Active</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link disabled"
					aria-disabled="true">Disabled</a></li>
			</ul>
		</div>
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural
				lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<br>
	<br>

	<p>Bootstrap의 탐색 구성 요소를 사용하여 카드의 헤더(또는 블록)에 일부 탐색을 추가합니다</p>
	<div class="card text-center">
		<div class="card-header">
			<ul class="nav nav-pills card-header-pills">
				<li class="nav-item"><a class="nav-link active" href="#">Active</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
				<li class="nav-item"><a class="nav-link disabled"
					aria-disabled="true">Disabled</a></li>
			</ul>
		</div>
		<div class="card-body">
			<h5 class="card-title">Special title treatment</h5>
			<p class="card-text">With supporting text below as a natural
				lead-in to additional content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>

	<br>
	<br>

	<p>카드의 위쪽이나 아래쪽에 있는 이미지가 포함될 수 있습니다</p>
	<div class="card mb-3">
		<img src="./images/face.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a wider card with supporting text
				below as a natural lead-in to additional content. This content is a
				little bit longer.</p>
			<p class="card-text">
				<small class="text-body-secondary">Last updated 3 mins ago</small>
			</p>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a wider card with supporting text
				below as a natural lead-in to additional content. This content is a
				little bit longer.</p>
			<p class="card-text">
				<small class="text-body-secondary">Last updated 3 mins ago</small>
			</p>
		</div>
		<img src="./images/face.jpg" class="card-img-bottom" alt="...">
	</div>

	<br>
	<br>

	<p>이미지를 카드 배경으로 바꾸고 카드 텍스트를 오버레이하세요</p>
	<div class="card text-bg-dark">
		<img src="./images/face.jpg" class="card-img" alt="...">
		<div class="card-img-overlay">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">This is a wider card with supporting text
				below as a natural lead-in to additional content. This content is a
				little bit longer.</p>
			<p class="card-text">
				<small>Last updated 3 mins ago</small>
			</p>
		</div>
	</div>

	<br>
	<br>

	<p>그리드와 유틸리티 클래스의 조합을 사용하면 모바일 친화적이고 반응성이 뛰어난 방식으로 카드를 수평으로 만들 수 있습니다</p>
	<div class="card mb-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="./images/face.jpg" class="img-fluid rounded-start"
					alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text
						below as a natural lead-in to additional content. This content is
						a little bit longer.</p>
					<p class="card-text">
						<small class="text-body-secondary">Last updated 3 mins ago</small>
					</p>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>

	<p>배경 및 색상</p>
	<div class="card text-bg-primary mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Primary card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Secondary card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card text-bg-success mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Success card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card text-bg-danger mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Danger card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card text-bg-warning mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Warning card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card text-bg-info mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Info card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card text-bg-light mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Light card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card text-bg-dark mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Dark card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>

	<br>
	<br>

	<p>카드의 모양만 변경하려면 테두리 유틸리티를 사용하세요</p>
	<div class="card border-primary mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body text-primary">
			<h5 class="card-title">Primary card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card border-secondary mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body text-secondary">
			<h5 class="card-title">Secondary card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card border-success mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body text-success">
			<h5 class="card-title">Success card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card border-danger mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body text-danger">
			<h5 class="card-title">Danger card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card border-warning mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Warning card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card border-info mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Info card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card border-light mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Light card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>
	<div class="card border-dark mb-3" style="max-width: 18rem;">
		<div class="card-header">Header</div>
		<div class="card-body">
			<h5 class="card-title">Dark card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
	</div>

	<br>
	<br>

	<p>필요에 따라 카드 머리글과 바닥글의 테두리를 변경할 수도 있고 를 사용하여 제거할 수도 background-color있습니다 .bg-transparent</p>
	<div class="card border-success mb-3" style="max-width: 18rem;">
		<div class="card-header bg-transparent border-success">Header</div>
		<div class="card-body text-success">
			<h5 class="card-title">Success card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
		</div>
		<div class="card-footer bg-transparent border-success">Footer</div>
	</div>

	<br>
	<br>

	<p>카드 그룹을 사용하여 카드를 너비와 높이 열이 동일한 단일 첨부 요소로 렌더링합니다</p>
	<div class="card-group">
		<div class="card">
			<img src="./images/face.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text
					below as a natural lead-in to additional content. This content is a
					little bit longer.</p>
				<p class="card-text">
					<small class="text-body-secondary">Last updated 3 mins ago</small>
				</p>
			</div>
		</div>
		<div class="card">
			<img src="./images/face.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This card has supporting text below as a
					natural lead-in to additional content.</p>
				<p class="card-text">
					<small class="text-body-secondary">Last updated 3 mins ago</small>
				</p>
			</div>
		</div>
		<div class="card">
			<img src="./images/face.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text
					below as a natural lead-in to additional content. This card has
					even longer content than the first to show that equal height
					action.</p>
				<p class="card-text">
					<small class="text-body-secondary">Last updated 3 mins ago</small>
				</p>
			</div>
		</div>
	</div>

	<br>
	<br>

	<p>바닥글이 있는 카드 그룹을 사용하면 해당 내용이 자동으로 정렬됩니다</p>
	<div class="card-group">
		<div class="card">
			<img src="./images/face.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text
					below as a natural lead-in to additional content. This content is a
					little bit longer.</p>
			</div>
			<div class="card-footer">
				<small class="text-body-secondary">Last updated 3 mins ago</small>
			</div>
		</div>
		<div class="card">
			<img src="./images/face.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This card has supporting text below as a
					natural lead-in to additional content.</p>
			</div>
			<div class="card-footer">
				<small class="text-body-secondary">Last updated 3 mins ago</small>
			</div>
		</div>
		<div class="card">
			<img src="./images/face.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text
					below as a natural lead-in to additional content. This card has
					even longer content than the first to show that equal height
					action.</p>
			</div>
			<div class="card-footer">
				<small class="text-body-secondary">Last updated 3 mins ago</small>
			</div>
		</div>
	</div>

	<br>
	<br>

	<p>그리드 카드, .row-cols-1한 열에 카드를 배치하고 .row-cols-md-2중간 중단점부터 여러 행에 걸쳐 4개의 카드를 동일한 너비로 분할하는 것입니다</p>
	<div class="row row-cols-1 row-cols-md-2 g-4">
		<div class="col">
			<div class="card">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text
						below as a natural lead-in to additional content. This content is
						a little bit longer.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text
						below as a natural lead-in to additional content. This content is
						a little bit longer.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text
						below as a natural lead-in to additional content.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text
						below as a natural lead-in to additional content. This content is
						a little bit longer.</p>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>

	<p>그리드 카드, .row-cols-3으로 변경했경우</p>
	<div class="row row-cols-1 row-cols-md-3 g-4">
		<div class="col">
			<div class="card">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text
						below as a natural lead-in to additional content. This content is
						a little bit longer.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text
						below as a natural lead-in to additional content. This content is
						a little bit longer.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text
						below as a natural lead-in to additional content.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text
						below as a natural lead-in to additional content. This content is
						a little bit longer.</p>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>

	<p>동일한 높이가 필요할 때 .h-100카드에 추가하세요. 기본적으로 동일한 높이를 원하는 경우 $card-height: 100% Sass에서 설정할 수 있습니다</p>
	<div class="row row-cols-1 row-cols-md-3 g-4">
		<div class="col">
			<div class="card h-100">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text
						below as a natural lead-in to additional content. This content is
						a little bit longer.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a short card.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text
						below as a natural lead-in to additional content.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text
						below as a natural lead-in to additional content. This content is
						a little bit longer.</p>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>

	<p>카드 그룹과 마찬가지로 카드 바닥글도 자동으로 정렬됩니다</p>
	<div class="row row-cols-1 row-cols-md-3 g-4">
		<div class="col">
			<div class="card h-100">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text
						below as a natural lead-in to additional content. This content is
						a little bit longer.</p>
				</div>
				<div class="card-footer">
					<small class="text-body-secondary">Last updated 3 mins ago</small>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This card has supporting text below as a
						natural lead-in to additional content.</p>
				</div>
				<div class="card-footer">
					<small class="text-body-secondary">Last updated 3 mins ago</small>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<img src="./images/face.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text
						below as a natural lead-in to additional content. This card has
						even longer content than the first to show that equal height
						action.</p>
				</div>
				<div class="card-footer">
					<small class="text-body-secondary">Last updated 3 mins ago</small>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>